<%- include("partials/header"); %> 

  <div>
    <center>
      <div class="about">
        <img class="code-img" src="/images/profile.jpg"  alt="profile">
        <h3>Vivek Dhiman</h3>
        <p>An undergraduate student at National Institute of Technology, Kurukshetra. Loves to develop real life solutions using emerging technologies. If you have any project I can help with, let's connect. I would love to contribute.</p>
      <h5>Skills:- C++ || Data Structures and Algorithms || HTML || CSS || Javascript || NodeJS</h5>
      </div>
    </center>
  </div>
    

  <%- include("partials/footer"); %> 