<%- include("partials/header"); %> 

  <div>
    <center>
      <div class="about">
        <img class="code-img" src="https://picsum.photos/200"  alt="">
        <h3>Vivek Dhiman</h3>
        <p class="aboutp">I am fascinated about how a computer works by just using a binary approach. A lot of mathematics and logic works behind it and I love to explore it to solve daily life problems.</p>
      </div>
    </center>
  </div>
    

  <%- include("partials/footer"); %> 