<%- include("partials/header"); %> 

  <div>
    <center>
      <div class="about">
        <img class="code-img" src="/images/contests.jpg"  alt="contests">
        <h3>Kontests Project</h3>
        <p>The project solves the problem of competitive programmers that they cannot track all contest start times and other information all in one place. Due to that, they miss out on important contests which they want to participate in. This app solves this problem by displaying information about contests on various platforms collectively and platform-wise too by fetching data from Kontests API. </p>
      /*<h5>Skills:- C++ || Data Structures and Algorithms || HTML || CSS || Javascript || NodeJS</h5>*/
      </div>
    </center>
  </div>
    

  <%- include("partials/footer"); %> 
