<%- include("partials/header"); %> 

  <div>
    <center>
    <h3>Let's Connect!</h3>
    <br>
    <button onClick="location.href='https://www.linkedin.com/in/vivek-dhiman-b151511a7'" type="button" class="btn btn-dark btn-lg d-btn"><i class="fa fa-linkedin"></i> LinkedIn</button></a>
    <button onClick="location.href='https://www.instagram.com/vivekxdhiman/'" type="button" class="btn btn-outline-light btn-lg d-btn"><i class="fab fa-instagram"></i> Instagram</button>
    <button onClick="location.href='mailto:vivekdhiman1208@gmail.com'" type="button" class="btn btn-dark btn-lg d-btn"><i class="fa fa-envelope"></i> Gmail</button></a>
    <button onClick="location.href='https://wa.me/9466621427'" type="button" class="btn btn-outline-light btn-lg d-btn"><i class="fab fa-whatsapp"></i> Whatsapp</button>
    </center>
  </div>
    

  <%- include("partials/footer"); %> 