<%- include("partials/header"); %> 

  <div>
    <center>
    <h2>Hey there...<br>Good <%=greet%>!</h2>
    <br>
    <h3>View Contests:-</h3>
    <button onclick="location.href = '/platform-wise';" type="submit" class="btn btn-dark btn-lg d-btn"><i class="fab fa-apple"></i> Platform wise</button>
    <button onclick="location.href = '/all';" type="button" class="btn btn-outline-light btn-lg d-btn"><i class="fab fa-google-play"></i>
      All</button>
     
    </center>
  </div>
    

<%- include("partials/footer"); %> 