<%- include("partials/header"); %> 

    <center>
      <div>
        <h3><i class="fa-solid fa-code"></i>Choose your Platform :-</h3>
      </div>
    <div class="row">
      <div class="col"><button onclick="location.href = '/codechef';" type="submit" class="btn btn-dark  c-btn" style="font-weight:bold;color: white;"><i class="fa-solid fa-code"></i> Codechef</button></div>
      <div class="col"><button onclick="location.href = '/codeforces';" type="submit" class="btn btn-dark c-btn" style="font-weight:bold;color: white;"  ><i class="fa-solid fa-code"></i> Codeforces</button></div>
      <div class="col"><button onclick="location.href = '/leetcode';" type="submit" class="btn btn-dark c-btn" style="font-weight:bold;color: white;"  ><i class="fa-solid fa-code"></i> Leetcode</button></div>
      <div class="w-100"></div>
      <div class="col"><button onclick="location.href = '/hackerrank';" type="submit" class="btn btn-dark c-btn" style="font-weight:bold;color: white;"  ><i class="fab fa-apple"></i> Hacker Rank</button></div>
      <div class="col"><button onclick="location.href = '/hackerearth';" type="submit" class="btn btn-dark c-btn" style="font-weight:bold;color: white;"  ><i class="fab fa-apple"></i> Hacker Earth</button></div>
      <div class="col"><button onclick="location.href = '/topcoder';" type="submit" class="btn btn-dark c-btn" style="font-weight:bold;color: white;"  ><i class="fab fa-apple"></i> Top Coder</button></div>
      <div class="w-100"></div>
      <div class="col"><button onclick="location.href = '/atcoder';" type="submit" class="btn btn-dark c-btn" style="font-weight:bold;color: white;" ><i class="fab fa-apple"></i> AtCoder</button></div>
      <div class="col"><button onclick="location.href = '/kickstart';" type="submit" class="btn btn-dark c-btn" style="font-weight:bold;color: white;" ><i class="fab fa-apple"></i> Kick Start</button></div>
      <div class="col"><button onclick="location.href = '/csacademy';" type="submit" class="btn btn-dark c-btn" style="font-weight:bold;color: white;" ><i class="fab fa-apple"></i> CS Academy</button></div>
    </div>
    </center>
    

  <%- include("partials/footer"); %>